<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<<<<<<< HEAD
<tr bgcolor="a485d2">  <td>18/08/15 19:34:27</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BrowserTest.test1()[pri:0, instance:com.faisalk.shortcutselenium.tests.BrowserTest@1d057a39]">test1</td> 
  <td>main@1845904670</td>   <td></td> </tr>
=======
<tr bgcolor="b66870">  <td>18/07/30 21:36:29</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BrowserTest.test1()[pri:0, instance:com.faisalk.shortcutselenium.tests.BrowserTest@18be83e4]">test1</td> 
  <td>main@507084503</td>   <td></td> </tr>
>>>>>>> 5c63ae0b145cb2493553e0b97912d5a1ffedc14b
</table>
